
body{
    margin:0;
    background:#000;
    color:#fff;
    font-family:Arial,sans-serif;
    text-align:center;
}

#splash{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo{
    width:260px;
    animation:zoom 3s ease-in-out;
}

.logo-small{
    width:180px;
}

.hidden{
    display:none;
}

#app{
    padding:20px;
}

.producto{
    width:100%;
    max-width:320px;
    border-radius:20px;
}

.btn{
    display:block;
    margin:15px auto;
    padding:18px;
    max-width:320px;
    background:#f1c40f;
    color:#000;
    text-decoration:none;
    font-weight:bold;
    border-radius:12px;
}

.qr{
    margin-top:30px;
    border:2px dashed #f1c40f;
    padding:20px;
    border-radius:12px;
}

@keyframes zoom{
    0%{
        opacity:0;
        transform:scale(0.7);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}
